.errorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: linear-gradient(0deg, rgba(5, 0, 150, 0.7) 70%, rgba(0, 43, 164, 0.78) 100%);
}